<%inherit file="base.html" />
<%def name="online_help_token()"><% return "login" %></%def>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<%block name="title">${_("Sign In")}</%block>
<%block name="bodyclass">not-signedin view-signin</%block>

<%block name="content">

<div class="wrapper-content wrapper">
  <section class="content">
    <header>
      <h1 class="title title-1">Edit Team Member</h1>
    </header>

    <article class="content-primary" role="main">
      <form enctype="multipart/form-data" method="post" action="/editteam">
          <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">

        <fieldset>

          <ol class="list-input">
            <li class="field text required" id="field-email">
              <label for="email"><strong>Select team member to edit</strong></label>
              <select id="edit_team" name="id">
              %for person in members:
               <option value="${person.id}">${person.name}</option>
              % endfor
              </select>
               
            </li>
          </ol>
          <input id="assign-bt" type="submit"   class="button" value="Submit" />
       </form>
       </fieldset>
    </article>
  </section>
</div>

</%block>

