<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
<h1>${_("Contact")}</h1>

<!--Updated by Bab-->

<p>${_("This page still needs to be updated in the platform. It should be coded to contain a form for the platform students to post their queries which are not tackled in the faq section,also the address of the institute has to be highlighted,in the form of either an image of the map or it can be a link to google maps.")}</p>
</section>
