<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Media Kit")}</%block>

<section class="container about">

<!-- Updated by Bab-->

<h1>${_("Media Kit")}</h1>
<p>${_("This page still needs to be updated on the platform. It has to be a kit for the media from where they can download high resolution images of various Platform proceedings and also the logo and its identity guidelines,to use it in their Cover stories or Newspaper articles.")}</p>
</section>

