<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("In the Press")}</%block>

<section class="container about">
<h1>${_("In the Press")}</h1>

<!-- Updated by Bab-->

<p>${_("This Page is still to be updated in the platform. It should contain the list of Titles of the press releases and news events happened by far linked to the platform,a link to the summary of these events and the date on which the event happened.")}</p>
</section>
