## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<%! from microsite_configuration.templatetags.microsite import platform_name %>

<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<!--IITBombayX-22/12/15, CSS for Footer is added in _footer.scss file.-->

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
    <div class="colophon">
      <!--nav class="nav-colophon" aria-label="${_('About')}">
        <ol>
            % for item_num, link in enumerate(footer['navigation_links'], start=1):
            <li class="nav-colophon-0${item_num}">
              <a id="${link['name']}" href="${link['url']}">${link['title']}</a>
            </li>
            % endfor
        </ol>
      </nav-->
      <nav class="nav-colophon">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="${marketing_link('ABOUT')}">
              ${_("About")}
          </a>
          </li>
          <!-- Bharat MOOCs -->
          <li class="nav-colophon-02">
          <a id="news" href="#">
              ${_("News")}
          </a>
          </li>
          <li class="nav-colophon-03">
          <a id="blog" href="#">
              ${_("Blog")}
          </a>
          </li>
          <li class="nav-colophon-04">
          <a id="faq" href="${marketing_link('FAQ')}">
              ${_("FAQ")}
          </a>
          </li>
          <li class="nav-colophon-05">
          <a id="contact" href="${marketing_link('CONTACT')}">
              ${_("Contact Us")}
          </a>
          </li>
      </ol>
      </nav>


      <div class="colophon-about">
<!-- Bharat MOOCs-->
<!--IITBombayX-2016 footer logo URL changed to get image from Theme folder-->
		<img src="${static.url('themes/'+settings.THEME_NAME+'/images/footerlogo.png')}" alt="${_('{platform_name} Logo').format(platform_name=platform_name())}" width="92px" />

		<p class="platform_text">${_("{platform_name}").format(platform_name=settings.PLATFORM_NAME)} ${_("offers interactive online classes and MOOCs. Subjects from multiple disciplines are presently offered, as can be seen in the list of courses. This list will expand later. {platform_name} is a non-profit online platform created with funding from National Mission on Education through Information and Communication Technology (NME-ICT), Ministry of Human Resource Development (MHRD), Government of India (GoI).").format(platform_name=platform_name())}</p>
      </div>

      ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
      <!--p class="copyright">${footer['copyright']}</p>

      <nav class="nav-legal" aria-label="${_('Legal')}">
        <ul>
          % for item_num, link in enumerate(footer['legal_links'], start=1):
            <li class="nav-legal-0${item_num}">
              <a href="${link['url']}">${link['title']}</a>
            </li>
          % endfor
        </ul>
      </nav-->


    </div>

<div class="references">
      <nav class="nav-social">
        <ul>
          <li class="nav-social-02">
            <a href="http://www.facebook.com" target="_blank" rel="external">
              <img src="${static.url('images/social/ico-social-facebook.png')}" alt="${_('{platform_name} on Facebook').format(platform_name=platform_name())}" />
            </a>
          </li>
          <li class="nav-social-03">
            <a href="https://twitter.com"  target="_blank" rel="external">
              <img src="${static.url('images/social/ico-social-twitter.png')}" alt="${_('{platform_name} on Twitter').format(platform_name=platform_name())}" />
            </a>
          </li>
          <li class="nav-social-04">
            <a href="https://plus.google.com"  target="_blank" rel="external">
              <img src="${static.url('images/social/ico-social-google.png')}" alt="${_('{platform_name} on Google+').format(platform_name=platform_name())}" />
            </a>
          </li>
        <!--  <li class="nav-social-05">
            <a href="http://youtube.com"  target="_blank" rel="external">
              <img src="${static.url('images/social/ico-social-youtube.png')}" alt="IITBombayX on YouTube" />
            </a>
          </li>-->
        </ul>
      </nav>

    <!--  <p class="copyright" style="text-align:right; color:#050505; margin-bottom:11px;">${_("&copy; 2014 {platform_name}, except where noted, all rights reserved").format(platform_name=settings.PLATFORM_NAME)}</p>-->

 <nav class="nav-legal">
        <ul>
          <li class="nav-legal-01">
            <a href="${marketing_link('TOS')}" id="tos" target="_blank">${_("Terms of Service and Honour Code")}</a>
          </li>
          <li class="nav-legal-02">
            <a href="${marketing_link('PRIVACY')}" id="policy" target="_blank">${_("Privacy Policy")}</a>
          </li>
          <!--li class="nav-legal-03">
            <a href="http://openedx.org" target="_blank"><img src="${static.url('images/edx-openedx-logo-tag.png')}" style="padding-top: 3.6em; float:right; width:50%; height:50%;" alt="Powered by IITBombayX" ></img></a>

          </li-->
        </ul>
      </nav>
    </div>


    ## Please leave this link and use one of the logos provided
    ## The OpenEdX link may be hidden when this view is served
    ## through an API to partner sites (such as marketing sites or blogs),
    ## which are not technically powered by OpenEdX.
    % if not hide_openedx_link:
    <div class="footer-about-openedx">
      <p>
        <a href="${footer['openedx_link']['url']}">
          <img class="open-edx_logo" src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" />
        </a>
      </p>
    </div>
    % endif
  </footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
